@tailwind base;
@tailwind components;
@tailwind utilities;

.littleNegativeTop {
    margin-top: -2px !important;
}

.littleNegativeBottom {
    margin-bottom: -2px !important;
}

.custom-shape-divider-top-1721854402 {
    width: 100%;
    overflow: hidden;
    line-height: 0;
    fill: #daff01 !important;
    z-index: 3;
}

.fontMedium {
    font-size: 20pt !important;
    text-decoration: underline;
    text-underline-offset: 3px;
}

.custom-shape-divider-bottom-1721854866 {
    width: 100%;
    overflow: hidden;
    line-height: 0;
    fill: #1d1d1b !important;
    z-index: 3;
    margin-top: -140px;
}

.custom-shape-divider-bottom-1721854866-g {
    width: 100%;
    overflow: hidden;
    line-height: 0;
    fill: #daff01 !important;
    z-index: 3;
    margin-top: -140px;
}

.custom-shape-divider-bottom-1721854866-gr {
    width: 100%;
    overflow: hidden;
    line-height: 0;
    fill: #daff01 !important;
    z-index: 3;
    position: absolute;
}

.supportersMargin {
    margin-top: 200px;
}

.col1d1d1b {
    color: #1d1d1b !important;
}

.daff01 {
    color: #daff01 !important;
}

.bgDaff01 {
    background-color: #daff01 !important;
}

.bg1d1d1b {
    background-color: #1d1d1b !important;
}

.lineHeightLoose {
    line-height: 3 !important;
}

.glyph {
    position: relative;
    font-size: 40pt;
    top: 90px;
    left: 62px;
}

.astGlyph {
    position: absolute;
    visibility: visible;
    left: 0px;
    top: 4px;
    width: 140px;
}

.negativeMarginXL {
    margin-top: -8rem !important;
}

.bigPaddingBottom {
    padding-bottom: 9rem !important;
}

.Typewriter {
    color: #1d1d1b;
    margin-bottom: -80px;
    line-height: 50px;
}

.spantype {
    font-family: "Aux Mono", monospace;
}

.iconFill {
    color: #daff01;
    opacity: 0.7;
}

.iconFill:hover {
    color: #daff01;
    opacity: 1;
}

.spacer {
    width: 40%;
    border-bottom: 2px solid #1d1d1b;
    opacity: 0.5;
    margin-top: 40px;
}

.buttonCTA {
    background-color: #daff01;
    color: #1d1d1b;
    padding: 25px 20px;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 2px;
    cursor: pointer;
    transition: all 0.3s;
    transform: scale(1);
}

.buttonCTAReverse {
    background-color: #1d1d1b;
    color: #daff01;
    padding: 25px 35px;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 2px;
    cursor: pointer;
    transition: all 0.3s;
    transform: scale(1);
    width: 100%;
}

.buttonCTAReverse:hover {
    transform: scale(1.05);
}

.buttonCTA:hover {
    transform: scale(1.05);
}

.flipImage {
    transform: scaleY(-1);
}

.imageShadow {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
    border-radius: 999px;
}

.teamFlex {
    gap: 150px;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.advisorFlex {
    gap: 100px;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.advisorySect {
    max-width: 60%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.teamDesc {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.supporters {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 10rem;
}

.supporters img {
    margin-left: auto;
    margin-right: auto;
}

.contactButtons {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    gap: 80px;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.maxWidth90pc {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.maxWidth80pc {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.sectionImage {
    margin-top: -200px;
    z-index: 1;
}

.sectionImageReverse {
    margin-bottom: -200px;
    z-index: 1;
}

.zIndex2 {
    z-index: 2;
}

.zIndex4 {
    z-index: 4;
}

.PRDiv {
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url("/keyart.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 0;
}

.HeliosLogo {
    width: 1200px;
    position: relative;
    transform: translate(0, -50%);
    left: 0;
    top: 50%;
}

.PRSubtitle {
    font-size: 20px;
    letter-spacing: 2px;
    color: #ffd10a;
    margin-bottom: 200px;
    text-align: center;
    text-shadow: 0 0 15px rgba(0, 0, 0, 1);
    position: relative;
    top: 100px;
}

.sectionImageBlack {
    transform: scaleX(-1) scaleY(-1);
    margin-top: -100px !important;
}

.marginTest {
    margin-top: 100px;
}

@media (max-width: 1000px) {
    .noMob {
        display: none;
    }

    .buttonCTAReverse {
        font-size: 16px;
    }

    .sectionImage {
        margin-top: -50px;
    }

    .PRDiv {
        background-position: left -200px bottom 0;
    }

    .PRTitle {
        font-size: 60px;
        letter-spacing: 2px;
        color: #ffd10a;
        font-weight: 700;
        margin-top: -60px;
        margin-bottom: 30px;
        text-align: center;
    }

    .PRSubtitle {
        font-size: 20px;
        letter-spacing: 2px;
        color: #ffd10a;
        margin-bottom: 200px;
        text-align: center;
    }

    .mobilePerks p {
        margin-bottom: 20px;
    }

    .mobilePerks p:first-child{
        margin-top: 30px;
    }

    .buttonCTA {
        max-width: 90%;
        font-size: 12px;
    }

    .teamFlex {
        flex-direction: column;
        align-items: center;
        max-width: 90%;
        gap: 50px;
    }

    .advisorFlex {
        flex-direction: column;
        align-items: center;
        max-width: 90%;
        gap: 50px;
    }

    .contactButtons {
        flex-direction: column;
        gap: 30px;
        margin-bottom: 20px;
    }

    .contactButtons button {
        font-size: 14px;
        min-width: 0 !important;
        width: 98% !important;
    }

    .sectionImageBlack {
        transform: scaleX(-1) scaleY(-1);
        margin-top: -60px !important;
        margin-bottom: -150px;
    }

    .sectionImageReverse {
        margin-bottom: -20px;
    }

    .firstSect {
        height: 570px;
    }

    .negativeMarginXL {
        margin-top: -9rem !important;
    }

    .supportersMargin {
        margin-top: 9rem;
    }
}

@media (max-width: 600px) {
    .helenaMargin {
        margin-top: 3rem;
    }

    .helenaFont {
        font-size: 17px;
    }
}

